<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
    <title>Homepage</title>
</head>

<body>
  <%- include('partials/nav') %>

    <div class="container mt-3">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <% blogs.forEach(blog=> { %>
          <div class="blog-card">
            <% if (blog.coverImageURL) { %>
              <img src="<%= blog.coverImageURL %>" alt="cover" style="width:300px;height:auto;" />
              <% } %>
                <h2><a href="/blog/<%= blog._id %>">
                    <%= blog.title %>
                  </a></h2>
                <p>
                  <%= blog.body.substring(0, 100) %>...
                </p>
          </div>
          <% }) %>

      </div>
    </div>

    <%- include('partials/scripts') %>
</body>

</html>